body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}
.Header{
    height: 60px;
    font-size: 2rem;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: #88B04B;
    color: white;
    justify-content: space-between;
}
.TodoUl{
    list-style: none;
    margin: auto;
    padding: 0;
}
.TodoUl .TodoLi{
    margin: 10px 0;
    display: flex;
    flex-flow: column;
    background: #FFF;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
}
.TodoUl .TodoLi .TodoWrapper{
    display: flex;
    align-items: center;
}
.TodoUl .TodoLi .TodoLeftWrapper{
    flex: 4;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
}
.TodoUl .TodoLi .TodoRightWrapper{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.TodoUl .TodoLi .TodoLeftWrapper .mask{
    display: none;
}
.TodoUl .TodoLi.complete .TodoLeftWrapper .mask{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
}
.TodoUl .TodoLi.complete .TodoRightWrapper{
    flex-flow: column;
    font-size: 0.8em;
}
.TodoUl .TodoLi .TodoLeftWrapper .upper{
    color: rgba(0, 0, 0, 0.68);
    padding: 15px;
}
.TodoUl .TodoLi .TodoLeftWrapper .upper > .like{
    margin-left: 10px;
    color: #aaaaaa;
    font-size: 0.9rem;
    cursor: pointer;
    user-select: none;
}
.TodoUl .TodoLi .TodoLeftWrapper .upper > .like:hover{
    color: tomato;
}
.TodoUl .TodoLi .TodoLeftWrapper .upper .TodoContent{
    min-height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.TodoUl .TodoLi .TodoLeftWrapper .lower{
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    color: #aaaaaa;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 15px;
}
.TodoInputWrapper{
    background-color: white;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.TodoInputWrapper .TodoInputClose{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.TodoInputWrapper .TodoInputDropdown{
    min-width: 9em !important;
    font-size: 0.8rem;
}
.TodoInputWrapper .TodoInputDropdown .item{
    font-size: inherit !important;
}
.TodoInputWrapper .TodoInput{
    height: 40px !important;
}
.Alert-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}
.Alert-wrapper .Alert{
    white-space: nowrap;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 5px;
    font-weight: 600;
}
.FilterWrapper{
    font-size: 0.8rem;
}
.FilterWrapper .FilterUpper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.FilterWrapper .FilterUpper .CategoryFilter{
    padding: 3px 5px;
    flex: 1;
    text-align: center;
    color: gray;
    transition: color 0.5s;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.FilterWrapper .FilterUpper .CategoryMovingBorder{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    border: 1px solid black;
    border-radius: 15px;
    transition: left 0.5s, border-color 0.5s;
}
.FilterWrapper .FilterLower{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 5px 0;
}
.TodoTagGroup .label{
    font-size: 0.7rem !important;
}

.TodoInputWrapper .TodoInputBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TodoInputWrapper .ReactTags__tags {
    flex: 5;
}
.TodoInputWrapper .ReactTags__selected .ReactTags__tagInputField {
    font-size: 0.8rem !important;
}
.TodoInputWrapper .ReactTags__selected .ReactTags__remove {
    margin-left: 5px;
}
.TodoInputWrapper .ReactTags__selected .label {
    font-size: 0.7rem !important;
}
.TodoInputWrapper .ReactTags__suggestions {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.8rem;
}
.TodoInputWrapper .ReactTags__suggestions ul {
    list-style: none;
    padding: 0;
    margin: 14px 0;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
}
.TodoInputWrapper .ReactTags__suggestions ul li {
    padding: 5px 10px;
    border-bottom: 1px solid #DDDDDD;
}
.TodoInputWrapper .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #EEEEEE;
}
.TodoInputWrapper .ReactTags__suggestions ul li mark{
    font-weight: 600;
    text-decoration: underline;
    background: none;
}
.LoginSignupWrapper {
    height: 70%;
    padding: 0 10px;
}
.LoginSignupWrapper .LoginSignupSelector{
    display: flex;
}
.LoginSignupWrapper .LoginSignupSelector > div{
    flex: 1;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: #555555;
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
    user-select: none;
}
.LoginSignupWrapper .LoginSignupSelector > div{
    -webkit-tap-highlight-color: transparent;
}
.LoginSignupWrapper .LoginSignupSelector > div.active{
    color: white;
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}
.LoginSignupWrapper .LoginSignupContent {
    border: 1px solid white;
    border-top: none;
    padding: 20px;
    text-align: left;
}
.LoginSignupWrapper .LoginSignupContent .fields > .field.wide.sixteen {
    margin-bottom: 20px !important;
}

.TodoLeftWrapper .lower .CommentToggle {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.TodoUl .TodoLi .CommentDivider {
    margin: 0;
    border-bottom: none !important;
}
.TodoUl .TodoLi .TodoCommentWrapper {
    background-color: #f8f8f8;
    padding: 10px 15px 5px 15px;
    font-size: 0.7rem;
}
.TodoUl .TodoLi .TodoCommentWrapper .TodoCommentInputWrapper .ui.action.input > input{
    padding: 3px 5px;
    font-size: 0.7rem;
}
.TodoUl .TodoLi .TodoCommentWrapper .TodoCommentInputWrapper .ui.action.input > .ui.button{
    padding: 3px;
    font-size: 0.7rem;
    justify-content: center;
    width: 20%;
}
