body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}
.Header{
    height: 70px;
    line-height: 70px;
    font-size: 2rem;
    text-align: center;
    background-color: #88B04B;
    color: white;
}
